<header class="bg-blue-600 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-lg font-bold"><a href="/"><mat-icon>engineering</mat-icon> Task Management</a></div>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="/user-profile" class="hover:text-gray-200"><mat-icon>person</mat-icon> </a></li>
          <li><a href="/user-profile" class="hover:text-gray-200">{{fullName}}</a></li>
          <li><a href="#" class="hover:text-gray-200"><mat-icon>notifications</mat-icon></a></li>
          <li><a href="#" class="hover:text-gray-200"><mat-icon>arrow_drop_down</mat-icon></a></li>
          <li><a href="/login" (click)="logout()" class="hover:text-gray-200">Đăng xuất</a></li>

        </ul>
      </nav>
    </div>
  </header>
  